<div id="mainContent">
    <h1 class="header">message</h1>
    <div class="cardHeader">
        <h3>Create a new account</h3>
        <p>It's quick and easy.</p>
    </div>
    <div class="formLogin">
        <form action="" >
            <div class="flex">
                <input class="" type="text" placeholder="First name">
                <input class="" type="text" placeholder="Surname">
            </div>
            <label for="birthday">Date of birth</label>
            <div>
                <input type="date" name="birthday" id="birthday">
            </div>
            <label for="">Gender</label>
            <div>
                <label for="genderFemale">Female</label>
                <input class="" type="radio" name="gender" id="genderFemale" value="female">
                <label for="genderMale">Male</label>
                <input class="" type="radio" name="gender" id="genderMale" value="male">
                <label for="genderOther">Other</label>
                <input class="" type="radio" name="gender" id="genderOther" value="other">
            </div>
            <div>
                <input class="" type="text" placeholder="Mobile number or email address">
            </div>
            <div>
                <input class="" type="text" placeholder="Password">
            </div>
        </form>
    <p>People who use our service may have uploaded your contact information to Facebook. <a href="https://www.facebook.com/help/637205020878504">Learn more</a>.</p>
    <p>By clicking Sign Up, you agree to our <a href="https://www.facebook.com/legal/terms/update">Terms</a>, <a href="https://www.facebook.com/privacy/policy/?entry_point=data_policy_redirect&entry=0">Privacy Policy</a> and <a href="https://www.facebook.com/privacy/policies/cookies/?entry_point=cookie_policy_redirect&entry=0">Cookies Policy</a>. You may receive SMS notifications from us and can opt out at any time.</p>
    <div>
        <button class="btn btn-success">Sign Up</button>
    </div>
    <div>
        <a class="" href="signup">Already have an account?</a>
    </div>
    </div>
</div>